@import url('./reset.css');
@import url('./styles.css');

.timer-section {
    margin: 36px 156px;
}

.timer {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.value {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 1.6px;
}

button[data-start] {
    color: #FFF;
    font: inherit;
    font-weight: 500;
    letter-spacing: 0.64px;
    border-style: none;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    border-radius: 8px;
    background: #4E75FF;
}

button[data-start]:hover,
button[data-start]:focus {
    background: #6C8CFF;
}

button[data-start]:disabled {
    color: #989898;
    background: #CFCFCF;
}

#datetime-picker {
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #808080;
    width: 272px;
    height: 40px;
    margin-right: 8px;
    padding: 8px 16px;
    outline: none;
}

#datetime-picker:hover {
    border-color: #000;
}

#datetime-picker:focus {
    border-color: #4E75FF;
    color: #000;
}

#datetime-picker:disabled {
    border-color: #808080;
    color: #808080;
}
